@{
    ViewData["Title"] = "About";
}

      <section class="mt-5 p-5">
        <div class="background">
          <div class="p-5">
            <div class="screen">
              <div class="screen-body">
                <div class="screen-body-item text-center">
                  <h1 style="color: var(--secondary)">About</h1>
                  <div class="text-center ">
                      <p style="color: white">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          Neque iusto dolores animi atque quidem, molestiae
                          voluptate suscipit dolor ad aliquid mollitia numquam
                          tempore labore quod eveniet quos necessitatibus unde
                          voluptatum dicta modi possimus autem magni. Ipsum iure est
                          nam veritatis soluta quidem, odit error quos ducimus
                          laborum corporis voluptatum natus vitae recusandae a quis
                          esse deserunt impedit aut perspiciatis explicabo rerum
                          neque dolor. Eaque ullam repudiandae facere placeat, quam
                          nesciunt ducimus ad soluta nulla quis, laudantium rem
                          harum. Tempora corporis harum adipisci numquam tempore
                          officia a autem vitae repudiandae, temporibus placeat
                          aliquid nemo voluptate iure aut laborum et labore animi?
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          Neque iusto dolores animi atque quidem, molestiae
                          voluptate suscipit dolor ad aliquid mollitia numquam
                          tempore labore quod eveniet quos necessitatibus unde
                          voluptatum dicta modi possimus autem magni. Ipsum iure est
                          nam veritatis soluta quidem, odit error quos ducimus
                          laborum corporis voluptatum natus vitae recusandae a quis
                          esse deserunt impedit aut perspiciatis explicabo rerum
                          neque dolor. Eaque ullam repudiandae facere placeat, quam
                          nesciunt ducimus ad soluta nulla quis, laudantium rem
                          harum. Tempora corporis harum adipisci numquam tempore
                          officia a autem vitae repudiandae, temporibus placeat
                          aliquid nemo voluptate iure aut laborum et labore animi?
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          Neque iusto dolores animi atque quidem, molestiae
                          voluptate suscipit dolor ad aliquid mollitia numquam
                          tempore labore quod eveniet quos necessitatibus unde
                          voluptatum dicta modi possimus autem magni. Ipsum iure est
                          nam veritatis soluta quidem, odit error quos ducimus
                          laborum corporis voluptatum natus vitae recusandae a quis
                          esse deserunt impedit aut perspiciatis explicabo rerum
                          neque dolor. Eaque ullam repudiandae facere placeat, quam
                          nesciunt ducimus ad soluta nulla quis, laudantium rem
                          harum. Tempora corporis harum adipisci numquam tempore
                          officia a autem vitae repudiandae, temporibus placeat
                          aliquid nemo voluptate iure aut laborum et labore animi?
                      </p>
                    <img
                      width="150px"
                      src="~/admin-assets/images/favicon.png"
                      class="rounded-pill "
                       style="background-color: var(--secondary)"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    